---
---
{% include header.html %}

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#page-top">
                    Jenny <span class="blue-text">&</span> Lucas
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#welcome">WELCOME</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#events">EVENTS</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#venue">VENUE</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#accommodations">ACCOMMODATIONS</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Full Page Image Header Area -->
    <div id="top" class="header">
        <div class="vert-text hidden-text welcome-text">
            <h1>Jenny <span class="blue-text">&</span> Lucas</h1>
            <h2 class="blue-text"><span>Sept</span> 12 and 13, 2014</h2>
        </div>
    </div>
    <!-- /Full Page Image Header Area -->

    <!-- Intro -->
    <div id="welcome" class="welcome">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h2>Welcome!</h2>
                    <p class="lead">We're so excited to be getting married
                    and have a chance for our closest friends and family
                    to meet one another and celebrate. We hope you will
                    be able to join us this fall for our wedding in the
                    mountains of NC!</p>
                </div>
            </div>
        </div>
    </div>
    <!-- /Intro -->

    <!-- Events -->
    <div id="events" class="events">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 text-center">
                    <h2>Events</h2>
                <hr/>
                    <p class="lead">All events will be held at <a href="http://www.laughingwatersnc.com/" target="_new">
                        Laughing Waters Retreat Center.</a> Jenny
                        and I will be staying at the venue for the whole
                        weekend so any time between events people will be
                        free to hang out, play games, and enjoy themselves
                        at the venue.</p>
                <hr/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 text-center">
                    <div class="service-item">
                        <i class="service-icon fa fa-moon-o dark-blue-text"></i>
                        <h4>Sept 12th - Friday Evening</h4>
                        <p>Barbeque Dinner followed by Ice Cream and Drinks</p>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="service-item">
                        <i class="service-icon fa fa-sun-o orange-text"></i>
                        <h4>Sept 13th - Saturday Afternoon</h4>
                        <p>We'll have the wedding sometime Saturday afternoon. More details to come</p>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="service-item">
                        <i class="service-icon fa fa-moon-o dark-blue-text"></i>
                        <h4>Sept 13th - Saturday Evening</h4>
                        <p>Reception, dancing, drinks, cake.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Services -->

    <!-- Callout -->
    <div id="venue" class="venue-section">
        <div class="color-background"></div>
        <div class="vert-text greyscale-background">
            <h1>Venue</h1>
            <h3>Laughing Waters Retreat Center</h3>
        </div>
        <div class="color-background"></div>
    </div>
    <!-- /Callout -->

    <!-- Venue -->
    <div class="venue">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-md-offset-1 text-center">
                    <h3>The Venue</h3>
                    <hr>
                    <p>Laughing Waters is located not too far from Fairview
                    NC where Lucas's family is from. It is about 30 minutes
                    away from Asheville in a valley in which a fairly
                    large creek runs.
                </div>
                <div class="col-md-5 col-md-offset-1 text-center">
                    <h3>Entertainment</h3>
                    <hr/>
                    <p>We hope that aside from the planned events we'll
                    be holding that people can enjoy other activities
                    like yard games, hanging out around the bonfire,
                    and hiking.
                </div>
            </div>
        </div>
    </div>
    <!-- /Venue -->

    <!-- Travel Info -->
    <div id="accommodations" class="accommodations">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-3 text-center">
                    <h2>Accommodations</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-2 text-center">
                    <div class="portfolio-item">
                        <a href="#">
                            <img class="img-portfolio img-responsive" src="img/portfolio-1.jpg">
                        </a>
                        <h4>Cityscape</h4>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="portfolio-item">
                        <a href="#">
                            <img class="img-portfolio img-responsive" src="img/portfolio-2.jpg">
                        </a>
                        <h4>Is That On Fire?</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-2 text-center">
                    <div class="portfolio-item">
                        <a href="#">
                            <img class="img-portfolio img-responsive" src="img/portfolio-3.jpg">
                        </a>
                        <h4>Stop Sign</h4>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="portfolio-item">
                        <a href="#">
                            <img class="img-portfolio img-responsive" src="img/portfolio-4.jpg">
                        </a>
                        <h4>Narrow Focus</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /accommodations -->

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <div class="top-scroll">
                        <a href="#top"><i class="fa fa-arrow-circle-o-up scroll fa-4x blue-text"></i>
                            <p>Back to Top</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

{% include footer.html %}

