---
---
{% include header.html %}
<body data-spy="scroll" data-target=".navbar-example">

  <div id="wrapper">
    <div id="sidebar-wrapper" class="navbar-example" role="navigation">
      <ul class="sidebar-nav nav navbar-nav">
        <li><a href="#africa" class="scroll-link" data-id="africa">Africa</a></li>
        <li><a href="#antarctica" class="scroll-link" data-id="antarctica">Antarctica</a></li>
        <li><a href="#asia" class="scroll-link" data-id="asia">Asia</a></li>
        <li><a href="#australia" class="scroll-link" data-id="australia">Australia</a></li>
        <li><a href="#europe" class="scroll-link" data-id="europe">Europe</a></li>
        <li><a href="#north-america" class="scroll-link" data-id="north-america">North America</a></li>
        <li><a href="#south-america" class="scroll-link" data-id="south-america">South America</a></li>
      </ul>
    </div>
    <div id="page-content-wrapper">
      <div class="page-content">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div id="africa" class="page-section">
                <div class="container">
                  <h2>Africa</h2>
                  <p class="caption">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas iaculis augue euismod dictum elementum. Nam vel nunc a ante eleifend malesuada. Curabitur quis odio quis ligula rutrum scelerisque. Praesent egestas et metus ac placerat. Phasellus consequat turpis scelerisque placerat auctor. Aenean pharetra tellus a imperdiet laoreet. Etiam porttitor tempus tellus, id viverra lorem feugiat faucibus. Ut viverra lacus erat, vitae pulvinar augue adipiscing et. Quisque enim ante, dapibus id lorem ac, pharetra fringilla est.

                    Vestibulum est erat, tincidunt ut sagittis vel, iaculis in lacus. Nam nec placerat lacus. Vestibulum cursus neque nec bibendum vulputate. Nullam suscipit viverra nulla eget tempus. Cras a libero sed lorem aliquam volutpat. Suspendisse potenti. In vel felis tellus. Donec vitae metus mattis, tempus leo eget, gravida eros. Praesent sed egestas dolor. Cras eu ultrices tortor, nec imperdiet elit. Quisque tempus scelerisque elementum.
                  </p>
                </div>
                <!--/.container-->
              </div>
              <!--/#africa-->

              <div id="antarctica" class="page-section">
                <div class="container">
                  <h2>Antarctica</h2>
                  <p class="caption">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas iaculis augue euismod dictum elementum. Nam vel nunc a ante eleifend malesuada. Curabitur quis odio quis ligula rutrum scelerisque. Praesent egestas et metus ac placerat. Phasellus consequat turpis scelerisque placerat auctor. Aenean pharetra tellus a imperdiet laoreet. Etiam porttitor tempus tellus, id viverra lorem feugiat faucibus. Ut viverra lacus erat, vitae pulvinar augue adipiscing et. Quisque enim ante, dapibus id lorem ac, pharetra fringilla est.

                    Vestibulum est erat, tincidunt ut sagittis vel, iaculis in lacus. Nam nec placerat lacus. Vestibulum cursus neque nec bibendum vulputate. Nullam suscipit viverra nulla eget tempus. Cras a libero sed lorem aliquam volutpat. Suspendisse potenti. In vel felis tellus. Donec vitae metus mattis, tempus leo eget, gravida eros. Praesent sed egestas dolor. Cras eu ultrices tortor, nec imperdiet elit. Quisque tempus scelerisque elementum.
                  </p>
                </div>
                <!--/.container-->
              </div>
              <!--/#antarctica-->

              <div id="asia" class="page-section">
                <div class="container">
                  <h2>Asia</h2>
                  <p class="caption">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas iaculis augue euismod dictum elementum. Nam vel nunc a ante eleifend malesuada. Curabitur quis odio quis ligula rutrum scelerisque. Praesent egestas et metus ac placerat. Phasellus consequat turpis scelerisque placerat auctor. Aenean pharetra tellus a imperdiet laoreet. Etiam porttitor tempus tellus, id viverra lorem feugiat faucibus. Ut viverra lacus erat, vitae pulvinar augue adipiscing et. Quisque enim ante, dapibus id lorem ac, pharetra fringilla est.

                    Vestibulum est erat, tincidunt ut sagittis vel, iaculis in lacus. Nam nec placerat lacus. Vestibulum cursus neque nec bibendum vulputate. Nullam suscipit viverra nulla eget tempus. Cras a libero sed lorem aliquam volutpat. Suspendisse potenti. In vel felis tellus. Donec vitae metus mattis, tempus leo eget, gravida eros. Praesent sed egestas dolor. Cras eu ultrices tortor, nec imperdiet elit. Quisque tempus scelerisque elementum.
                  </p>
                </div>
                <!--/.container-->
              </div>
              <!--/#asia-->

              <div id="australia" class="page-section">
                <div class="container">
                  <h2>Australia</h2>
                  <p class="caption">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas iaculis augue euismod dictum elementum. Nam vel nunc a ante eleifend malesuada. Curabitur quis odio quis ligula rutrum scelerisque. Praesent egestas et metus ac placerat. Phasellus consequat turpis scelerisque placerat auctor. Aenean pharetra tellus a imperdiet laoreet. Etiam porttitor tempus tellus, id viverra lorem feugiat faucibus. Ut viverra lacus erat, vitae pulvinar augue adipiscing et. Quisque enim ante, dapibus id lorem ac, pharetra fringilla est.

                    Vestibulum est erat, tincidunt ut sagittis vel, iaculis in lacus. Nam nec placerat lacus. Vestibulum cursus neque nec bibendum vulputate. Nullam suscipit viverra nulla eget tempus. Cras a libero sed lorem aliquam volutpat. Suspendisse potenti. In vel felis tellus. Donec vitae metus mattis, tempus leo eget, gravida eros. Praesent sed egestas dolor. Cras eu ultrices tortor, nec imperdiet elit. Quisque tempus scelerisque elementum.
                  </p>
                </div>
                <!--/.container-->
              </div>
              <!--/#australia-->

              <div id="europe" class="page-section">
                <div class="container">
                  <h2>Europe</h2>
                  <p class="caption">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas iaculis augue euismod dictum elementum. Nam vel nunc a ante eleifend malesuada. Curabitur quis odio quis ligula rutrum scelerisque. Praesent egestas et metus ac placerat. Phasellus consequat turpis scelerisque placerat auctor. Aenean pharetra tellus a imperdiet laoreet. Etiam porttitor tempus tellus, id viverra lorem feugiat faucibus. Ut viverra lacus erat, vitae pulvinar augue adipiscing et. Quisque enim ante, dapibus id lorem ac, pharetra fringilla est.

                    Vestibulum est erat, tincidunt ut sagittis vel, iaculis in lacus. Nam nec placerat lacus. Vestibulum cursus neque nec bibendum vulputate. Nullam suscipit viverra nulla eget tempus. Cras a libero sed lorem aliquam volutpat. Suspendisse potenti. In vel felis tellus. Donec vitae metus mattis, tempus leo eget, gravida eros. Praesent sed egestas dolor. Cras eu ultrices tortor, nec imperdiet elit. Quisque tempus scelerisque elementum.
                  </p>
                </div>
                <!--/.container-->
              </div>
              <!--/#europe-->

              <div id="north-america" class="page-section">
                <div class="container">
                  <h2>North America</h2>
                  <p class="caption">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas iaculis augue euismod dictum elementum. Nam vel nunc a ante eleifend malesuada. Curabitur quis odio quis ligula rutrum scelerisque. Praesent egestas et metus ac placerat. Phasellus consequat turpis scelerisque placerat auctor. Aenean pharetra tellus a imperdiet laoreet. Etiam porttitor tempus tellus, id viverra lorem feugiat faucibus. Ut viverra lacus erat, vitae pulvinar augue adipiscing et. Quisque enim ante, dapibus id lorem ac, pharetra fringilla est.

                    Vestibulum est erat, tincidunt ut sagittis vel, iaculis in lacus. Nam nec placerat lacus. Vestibulum cursus neque nec bibendum vulputate. Nullam suscipit viverra nulla eget tempus. Cras a libero sed lorem aliquam volutpat. Suspendisse potenti. In vel felis tellus. Donec vitae metus mattis, tempus leo eget, gravida eros. Praesent sed egestas dolor. Cras eu ultrices tortor, nec imperdiet elit. Quisque tempus scelerisque elementum.
                  </p>
                </div>
                <!--/.container-->
              </div>
              <!--/#north-america-->

              <div id="south-america" class="page-section">
                <div class="container">
                  <h2>South America</h2>
                  <p class="caption">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas iaculis augue euismod dictum elementum. Nam vel nunc a ante eleifend malesuada. Curabitur quis odio quis ligula rutrum scelerisque. Praesent egestas et metus ac placerat. Phasellus consequat turpis scelerisque placerat auctor. Aenean pharetra tellus a imperdiet laoreet. Etiam porttitor tempus tellus, id viverra lorem feugiat faucibus. Ut viverra lacus erat, vitae pulvinar augue adipiscing et. Quisque enim ante, dapibus id lorem ac, pharetra fringilla est.

                    Vestibulum est erat, tincidunt ut sagittis vel, iaculis in lacus. Nam nec placerat lacus. Vestibulum cursus neque nec bibendum vulputate. Nullam suscipit viverra nulla eget tempus. Cras a libero sed lorem aliquam volutpat. Suspendisse potenti. In vel felis tellus. Donec vitae metus mattis, tempus leo eget, gravida eros. Praesent sed egestas dolor. Cras eu ultrices tortor, nec imperdiet elit. Quisque tempus scelerisque elementum.
                  </p>
                </div>
                <!--/.container-->
              </div>
              <!--/#south-america-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% include footer.html %}