---
---
{% include header.html %}

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="row">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#page-top">
                   Caitlyn <span class="blue-text">&amp;</span> John
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#welcome">WELCOME</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#venue">VENUE</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#timing">Ceremony & Reception</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#accommodations">ACCOMMODATIONS</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#thingstoknow">THINGS TO KNOW</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#registry">REGISTRY</a>
                    </li>
                </ul>
            </div> <!-- /.navbar-collapse -->
        </div> <!-- /.row -->
        </div> <!-- /.container -->
    </nav>

    <!-- Full Page Image Header Area -->
    <div id="top" class="header">
        <div class="container">
            <div class="vert-text hidden-text jumbo-text">
                <h1>Caitlyn <span class="blue-text">&amp;</span> John</h1>
                <h2>August<span class="blue-text"> 7</span> 2015</h2>
            </div>
        </div>
    </div>
    <!-- /Full Page Image Header Area -->

    <!-- Intro -->
    <div id="welcome" class="welcome section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h2>Welcome!</h2>
                    <p class="lead">We are excited to get married in front
                    of our wonderful friends and family. We hope you will
                    be able to join us this summer for our wedding in the
                    heart of Minneapolis!</p>
                </div>
            </div>
        </div>
    </div>
    <!-- /Intro -->

    <!-- Callout -->
    <div id="venue" class="venue-section section">
        <div class="vert-text">
            <h1>Venue</h1>
            <h3>The Nicollet Island Pavilion</h3>
        </div>
    </div>
    <!-- /Callout -->

    <!-- Venue -->
    <div class="venue section">
        <div class="container">
            <h3 class="text-center">The Place</h3></br>
            <div class="row">
                <div class="col-md-5 col-md-offset-1">
                    <div class="portfolio-item">
                        <a href="http://www.mintahoe.com/venues/nicollet-island-pavilion/">
                            <img alt="nicollet island pavilion" class="img-portfolio img-responsive" src="./img/pavilion-section.jpg">
                        </a>
                    </div>
                    <hr>
                </div>
                <div class="col-md-5">
                    <div class="portfolio-item">
                        <img alt="laughing waters venue" class="img-portfolio img-responsive" src="./img/creek-entertainment.jpg">
                    </div>
                    <hr/>
                </div>
            </div> <center>
                    <p>The Nicollet Island Pavilion is a beautiful venue that lays on
                       the Mississippi River between Downtown and Northeast Minneapolis. This was
                       the area where we both lived when our courtship began. We have 
                       very fond memories of going on walks across the Stone Arch Bridge,
                       watching movies at the St. Anthony Main Theatre, and grabbing a beer
                       at Tuggs Tavern. We hope that you take some time to enjoy the area
                       that has so much meaning to us.</p></center><br/>
                   <center><b>The Nicollet Island Pavilion <br/> 40 Power Street &#8226; Minneapolis, MN 55401</b></center>
        </div>
    </div>
    <!-- /Venue -->
    <!-- timing -->
    <div id="timing" class="accommodations section">
        <div class="container">
            <div class="row">
              <h2 class="text-center">Ceremony & Reception</h2><br/>
              <center> The Nicollet Island Pavilion opens for guest arrival at 5:00pm <br/><br/>
                       Ceremony to start at 5:30pm <br/><br/>
                       Reception to immediately follow <br/>
                       <i>Cocktail Hour <br/>
                       Dinner <br/>
                       Celebrations <br/></i>
              </center>
            </div>
        </div>
    </div>
    <!-- /timing -->
    <!-- Travel Info -->
    <div id="accommodations" class="thingstoknow section">
        <div class="container">
            <div class="row">
              <h2 class="text-center shrink-to-fit">Accommodations</h2>
               <center>
               We have room blocks at the following hotels:<br/><br/>
               </center>
              <div class="col-md-5 col-md-offset-1">
                <center>
                 <a href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=Thurber/Backes%20Wedding%5EMSPDD%60TBWTBWA%60155.00%60USD%60false%608/6/15%608/9/15%6007/06/2015&app=resvlink&stop_mobi=yes"><b>The Depot Renaissance</b></a><br />
                 The link above should allow you to book with the group rate of $155 a night. The cutoff date for the group rate is July 6th.<br/><br/>
                 <b>225 3rd Ave S &#8226;  Minneapolis, MN 55401</b>
                 </center>
              </div>
             <div class="col-md-5">
              <center>
               <a href="http://www.ramadaplazampls.com/"><b>The Ramada Plaza Minneapolis</b></a><br/>
               Call 612-331-1900 and mention the wedding for the group rate of $95 a night. The cutoff date for the group rate is July 17th.<br/><br/>
               <b>1330 Industrial Blvd NE &#8226; Minneapolis, MN 55413</b>
              </center>
             </div>
            </div>
            </br> <center><i>These room block rates apply for guests wishing to stay Thursday through Saturday night</i></center>
            <!-- Map -->
            <div class="row">
                <div id="contact" class="map hidden-xs hidden-sm col-md-10 col-md-offset-1">
                <center><br/>
                    <iframe src="https://mapsengine.google.com/map/embed?mid=zco4QSqpz6NY.krw5QzoJqCMU" width="640" height="480"></iframe><br/>
                </center>
                </div>
            </div>
            <!-- /Map -->
            <center><br />
            <a href="https://www.google.com/maps/@44.9914265,-93.2375855,15z/data=!3m1!4b1!4m2!6m1!1szco4QSqpz6NY.krw5QzoJqCMU?hl=en">
            Click here to view on Google Maps</a><br/>
            </center>
        </div>
    </div>
    <!-- /accommodations -->
    <!-- things to know -->
    <div id="thingstoknow" class="accommodations section">
        <div class="container">
            <div class="row">
              <h2 class="text-center">Things to Know</h2>
                <div class="col-md-5 col-md-offset-1">
                    <center>
                    <h3 class="text-center">Parking/Transportation</h3>
                      <p>There is a metered parking lot adjacent to the venue, but cars cannot be left overnight.
                      There is an overnight parking ramp nearby on 2nd Ave SE and University Ave SE.
                      You can also usually find parking in and around the neighborhood East of Central
                      Ave SE and University Ave SE.</p><br/>
             
                      <p>There will be a shuttle leaving from the Renaissance Depot and the Ramada Plaza at 4:45pm.
                      There will be return trips at 10:30pm and 12:00am. <b>(*NOTE: we are still planning the shuttles
                      so the times are subject to change)</b></p>
                    </center>
                </div>
                <div class="col-md-5">
                    <center>
                    <h3 class="text-center">Timing</h3>
                      Both the ceremony and the reception will be hosted at the Nicollet Island Pavilion. 
                      Cocktail hour will begin immediately following the ceremony. Please be sure to allow ample travel time as traffic can be very slow around this
                      time of day in Minneapolis.
                    </center>
                </div>
            </div>
        </div>
    </div>
    <!-- /things to know -->
    <!-- Registry -->
    <div id="registry" class="registry section">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 text-center">
                    <h2>Registry</h2>
                    <p>We are excited to celebrate our wedding with you and do not ask for anything more than your best wishes for us! If you do want to get us a gift, we are registered at the following places:</p><br/>
                <a href="http://www.potterybarn.com/registry/3652442/registry-list.html">Pottery Barn</a><br/>
                <a href="https://www.anthropologie.com/anthro/registry/listing?registryId=ZDJIYZAWNGQ1">Anthropologie</a><br/>
                <a href="http://www.menards.com/main/registrydetail.html?registryId=11240430&lastName=Thurber">Menards</a><br/>
                <a href="http://www.kitchenwindow.com/page.cfm/GR_ViewRegistry.html">Kitchen Window</a><br/>
                </div>
            </div>
        </div>
    </div>
    <!-- /registry -->
    
     
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <div class="top-scroll">
                        <a href="#top"><i class="fa fa-arrow-circle-o-up scroll fa-4x blue-text"></i>
                            <p>Back to Top</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

{% include footer.html %}

