/* Custom LESS code */
@import url("http://fonts.googleapis.com/css?family=Roboto+Condensed");
@import url("//fonts.googleapis.com/css?family=Londrina+Solid");


@main-color: blue;
@secondary-color: #428bca;

body {
  font-family: "Times New Roman";
}

.header {
  h1, h2, h3 {
    color: white;
    text-shadow: rgba(0, 0, 0, 0.5) 0.1em 0.1em 0.1em;
  }
}

.blue-text {
  color: @secondary-color;
}


h1 {
  font-family: "Lodrina Solid";
}

h2 {
  font-size: 3em;
  font-family: "Roboto Condensed";
  font-weight: strong;
}

footer {
  padding-bottom: 10px;
  padding-top: 10px;
}